<div class="flex flex-col flex-auto min-w-0">
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div
                    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0 my-8 sm:my-3"
            >
                <div class="flex flex-col content-center w-full h-15">
                    <mat-form-field>
                        <input
                            matInput
                            placeholder="Escribe para buscar un alumno"
                            [formControl]="searchName"
                        />
                    </mat-form-field>
                </div>
                <div
                        class="grid grid-cols-1 lg:grid-cols-2 gap-3 w-full h-13 mb-5"
                >
                    <button
                        class="fuse-mat-button-rounded self-center mx-auto w-40"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="getAllStudents()"
                    >
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:search'"
                        ></mat-icon>
                        <span class="ml-2">Buscar alumnos</span>
                    </button>
                    <button
                            class="fuse-mat-button-rounded self-center mx-auto w-40 bg-green-500"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="openStudentModal()"
                    >
                        <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:document-add'"
                        ></mat-icon>
                        <span class="ml-2">Nuevo alumno</span>
                    </button>
                </div>
            </div>
            <div
                    class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                    matRipple
            >
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="font-medium leading-6 truncate">
                            Gestión de alumnos
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (isLoading) {
        <app-spinner></app-spinner>
    } @else {
        @if (students.length) {
            <div class="flex-auto border-t mt-px pt-4 pb-6 sm:pt-6">
                <div class="w-auto max-w-screen-xl mx-10">
                    <div class="grid grid-cols-1 gap-6 w-full min-w-0">
                        <p-table
                                [value]="students"
                                [rows]="rows"
                                [totalRecords]="totalRows"
                                [rowsPerPageOptions]="[5, 10, 15]"
                                (onPage)="getAllStudents($event)"
                                [lazy]="true"
                                [paginator]="true"
                                [loading]="isLoadingTable"
                                [first]="first"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre completo</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>Género</th>
                                    <th>Curp</th>
                                    <th>Email</th>
                                    <th>Acciones</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-student>
                                <tr>
                                    <td>{{ student.id }}</td>
                                    <td>
                                        {{ student.name }} {{ student.first_lastname }}
                                        {{ student.second_lastname }}
                                    </td>
                                    <td>{{ localeBirthDay(student.birthday) }}</td>
                                    <td>{{ genres[student.gender] }}</td>
                                    <td>{{ student.curp }}</td>
                                    <td>
                                        {{ student.email }}
                                    </td>
                                    <td>
                                        <div class="grid grid-cols-2 gap-2">
                                            <button
                                                    mat-icon-button
                                                    aria-label="Editar estudiante"
                                            >
                                    <span class="flex flex-col items-center">
                                        <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'feather:edit'"
                                                (click)="openStudentModal(student)"
                                        ></mat-icon>
                                        <span class="text-xs">Editar</span>
                                    </span>
                                            </button>
                                            <button
                                                    mat-icon-button
                                                    aria-label="Eliminar estudiante"
                                                    (click)="openDeleteModal(student)"
                                            >
                                    <span class="flex flex-col items-center">
                                        <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'feather:trash'"
                                        ></mat-icon>
                                        <span class="text-xs">Eliminar</span>
                                    </span>
                                            </button>
                                            <button
                                                    mat-icon-button
                                                    aria-label="Código QR"
                                                    (click)="openQrModal(student.uuid)"
                                            >
                                    <span class="flex flex-col items-center">
                                        <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:qrcode'"
                                        ></mat-icon>
                                        <span class="text-xs">Código QR</span>
                                    </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        } @else {
            <div
                    class="grid grid-cols-1 content-center items-center w-full h-40 sm:h-full"
            >
                <h2 class="text-center">No hay datos para mostrar</h2>
            </div>
        }
    }
</div>

<student-modal></student-modal>
<qr-modal></qr-modal>
<delete-modal></delete-modal>
