<p-dialog
    [header]="title"
    [(visible)]="isOpenModal"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [breakpoints]="{ '700px': '90vw' }"
    (onHide)="onHide()"
    [draggable]="false"
>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full mt-10">
        <div class="md:col-span-2 text-center w-full h-15">
            <h3>
                {{message}}
            </h3>
        </div>
        <button
            class="fuse-mat-button-rounded self-center w-25 md:w-50 mt-1"
            mat-stroked-button
            [color]="'danger'"
            (click)="onHide()"
        >
            <span class="ml-2">No, cancelar</span>
        </button>

        <button
            class="fuse-mat-button-rounded self-center w-25 md:w-50 mt-1"
            mat-flat-button
            [color]="'primary'"
            (click)="onDelete()"
        >
            <span class="ml-2">Sí, eliminar</span>
        </button>
    </div>
</p-dialog>